.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loginForm > h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.loginForm label {
  text-align: left;
  margin-bottom: 5px;
}

.loginForm input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-btn {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #458f45;
}
